{% extends "home/base.html" %}
{%block content_body %}
<header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
      <div class="container">
        <a class="navbar-brand mr-4" href="{%url 'homepage' %}">SHOPMART</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggle">
          <div class="navbar-nav mr-auto">
            <a class="nav-item nav-link" href="{%url 'homepage'%}">Home</a>
            <a class="nav-item nav-link">About</a>
            <a class="nav-item nav-link">Contact Us</a>
          </div>
          <!-- Navbar Right Side -->
          <div class="navbar-nav"> 
            {% if user.is_authenticated and user.is_customer %}
            <a class="nav-item nav-link" >Hello, {{request.user.username}}</a>
            <a class="nav-item nav-link" href="{%url 'customer-profile'%}">Account</a>
            <a class="nav-item nav-link" href="{%url 'Myorder' %}">My Orders</a>
            {%else%}
            <a class="nav-item nav-link" href="{%url 'sign_in'%}">Login</a>
            <a class="nav-item nav-link" href="{%url 'sign_up'%}">Register</a>
            {%endif%}
            {% if user.is_authenticated and user.is_customer %}
            <a href="{%url 'cart'%}" class="nav-item nav-link"> Cart <i class="fa fa-shopping-cart"></i></a>
            <span class="nav-item nav-item" ; style="color:red" id="shiv"><b>{{count}}</b></span>
            </a>
            <a href="{% url 'wishlist' %}" class="'nav-item nav-link"> <i class="fa fa-heart"></i></a> 
            <a class="nav-item nav-link" onclick="history.back()" ><-Back</a>
            <a class="nav-item nav-link" href="{%url 'customer-logout'%}">Logout</a>
            {%else%}
                <a href="{%url 'customer-login'%}" class="nav-item nav-link"><i class="fa fa-shopping-cart"></i></a>   
                <a href="{%url 'customer-login'%}" class="'nav-item nav-link"> <i class="fa fa-heart"></i></a>           
              <a class="nav-item nav-link" onclick="history.back()" ><-Back</a>
            {%endif%}
          </div>
        </div>
      </div>
    </nav>
  </header>
    <div class="container" >
        {% block content %}{% endblock %}
    </div>
{% endblock  %}